<h1>Listing all Posts</h1>
<td><%= link_to 'New Post', new_post_path %></td>

<table>
  <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
  </tr>

  <% @posts.each do |post| %>
  <tr>
    <td><%= post.Clientnum.to_i %></td>
    <td><%= post.Name %></td>
    <td><%= post.Veh_Year %></td>
    <td><%= post.Make%></td>
    <td><%= post.Model %></td>

    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Show', post_path(post) %></td>
    <td><%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: "Are you Sure?"} %></td>

  </tr>
  <% end %>
</table>