<h1>Showing <%=@post.Name %>'s Post</h1>

<div class="well col-xs-8 col-xs-offset-2">
  <% if @post.user %>
    <ul class="listing">
      <div class="row center">
        <div class="col-md-4 col-md-offset-4">
          <li>Created by:</li>
          <li><%= link_to gravatar_for(@post.user), user_path(@post.user) %></li>
          <li class="post-name">
            <%= link_to @post.user.username, user_path(@post.user) %>
          </li>
          <li><small>
            <%= pluralize(@post.user.posts.count, "posts") if @post.user.posts %>
          </small></li>
        </div>
      </div>
    </ul>
  <% end %>

<h3>
  No. <%= @post.Clientnum.to_i %> <br>
  Name: <%= @post.Name %> <br>
  Phone: <%= @post.Phone %> <br>
  Address: <%= @post.Adress %> <br>
  Veh/Year: <%= @post.Veh_Year %> <br>
  Make: <%= @post.Make %> <br>
  Model: <%= @post.Model %> <br>
  License Plate: <%= @post.LicPlate %> <br>  
  Miles: <%= @post.Miles %> <br>
  V.I.N.: <%= @post.VIN %> <br>
</h3>
<hr>
<h2>Payment Method:</h2>

<h4>
    Paid With Visa
    <% if @post.Visa == "1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Visa == "0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>
    | Paid With MasterCard
    <% if @post.MasterCard=="1"%>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.MasterCard == "0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>
    | Paid With Discover
    <% if @post.Discover == "1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %> 
    <% if @post.Discover == "0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>
    | Paid With Cash
    <% if @post.Cash=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Cash == "0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %> 
</h4>
<hr>

<h4>
  <p style="text-indent: 150px">
    PAIR 
    <% if @post.Pair=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Pair=="0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>

    | AIR
    <% if @post.Air=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Air=="0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>

    | ACL
    <% if @post.Acl=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Acl=="0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>

    | TC/CAC
    <% if @post.Tc_cac=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Tc_cac=="0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>

    | EFE
    <% if @post.Efe=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Efe=="0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>

    | EGR
    <% if @post.Egr=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Egr=="0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>
    </p>
    <p style="text-indent: 150px">
     CAN
    <% if @post.Can=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Can=="0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>

    | CAT
    <% if @post.Cat=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Cat=="0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>

    | MIL
    <% if @post.Mil=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Mil=="0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>

    | O2S
    <% if @post.O2s=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.O2s=="0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>

    | PCV
    <% if @post.Pcv=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Pcv=="0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %>

    | Timing
    <% if @post.Timing=="1" %>
      <span style="font-family:Wingdings">&#163;</span>
    <% end %>
    <% if @post.Timing=="0" %>
      <span style="font-family:Wingdings">&#161;</span>
    <% end %><br>
  </p>
</h4>
<hr>
<h3>

$ <%=@post.CASmog.to_f.round(2) %> | California Smog Inspection<br>
$ <%=@post.CAInsp.to_f.round(2) %> | California Smog Insp./ Heavy Duty Vehicles<br>
$ <%=@post.VIN2.to_f.round(2) %> | VIN<br>
$ <%=@post.CASmogCert.to_f.round(2) %> | California Smog Certificate<br>
$ <%=@post.PreInsp.to_f.round(2) %> | Pre-Inspection<br>
$ <%=@post.ReInsp.to_f.round(2) %> | Re-Inspection<br>
$ <%=@post.EngCover.to_f.round(2) %> | Remove Eng. Cover (If Needed) Vans<br>
$ <%=@post.Other.to_f.round(2) %> | Other<br>
$ <%=@post.Evap.to_f.round(2) %> | Evap. Test<br>
$ <%=@post.Est.to_f.round(2) %> | Estimates<br>
$ <%=@post.GasCap.to_f.round(2) %> | Gas Cap(s)<br>
$ <%=@post.Mis.to_f.round(2) %> | Miscellaneous<br>
<%=@post.Tax.to_f %>% | Tax<br>

<div id="divCheckbox" style="display: none;"> 
<%=sum=0 %>
<%=sum+=@post.CASmog.to_f %>
<%=sum+=@post.CAInsp.to_f %>
<%=sum+=@post.VIN2.to_f %>
<%=sum+=@post.CASmogCert.to_f %>
<%=sum+=@post.PreInsp.to_f %>
<%=sum+=@post.ReInsp.to_f %>
<%=sum+=@post.EngCover.to_f %>
<%=sum+=@post.Other.to_f %>
<%=sum+=@post.Evap.to_f %>
<%=sum+=@post.Est.to_f %>
<%=sum+=@post.GasCap.to_f %>
<%=sum+=@post.Mis.to_f %>
<%=tax=sum* @post.Tax.to_f%>
</div>
$ <%=sum.round(2)%> | Total Without Tax<br>
$ <%=(tax+sum).round(2)%> | Total With Tax<br>

</h3>
<hr>
<h2>
<div class="post_actions">
    <%= link_to "Print (PDF)", post_path(@post, format: "pdf"), class: "btn btn-xs btn-primary" %> |

    <%= link_to "Edit this Post", edit_post_path(@post), class: "btn btn-xs btn-primary" %> |

    <%= link_to "View All Posts", posts_path,class: "btn btn-xs btn-primary" %> |
    <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you Sure?"}, class: "btn btn-xs btn-primary" %>
</div>
</h2>
</div>

